.frame {
  border: 50px solid black;
  width: 500px;
  padding: 50px;
  margin: 20px auto;
}

.canvas {
  width: 500px;
  height: 600px;
  background: #4d0f00;
  overflow: hidden; /* to maintain the dimensions of the inner div */
  /* filter: blur(2px); */
}

.one {
  width: 425px;
  height: 150px;
  background: #efb762;
  margin: 20px auto; /*centering the element */
  filter: blur(1px);
  box-shadow: 0 0 3px 3px #efb762;
  transform: rotate(0.6deg);
}

.two {
  width: 475px;
  height: 200px;
  background: #8f0401;
  margin: 0 auto 20px auto;
  filter: blur(1px);
  box-shadow: 0 0 3px 3px #8f0401;
}

.three {
  width: 91%;
  height: 28%;
  background: #b20403;
  filter: blur(2px);
}
