body {
  background: url("./media/pic-1.jpg");
  background-size: cover;
  height: 100vh;
  font-size: 16px;
  color: navy;
}

h1,
.title {
  text-align: center;
  margin: 0.5em 0;
}

form {
  width: 60vw;
  margin: 0 auto;
  min-width: 300px;
  max-width: 500px;
}

label {
  display: block;
  margin: 0.5em 0;
}

input,
select,
textarea {
  width: 100%;
}

.inline {
  width: unset;
}
